* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background: #090c31;
    display: grid;
    place-items: center;
}

/* Clases */

.calculadora {
    background: #15173c;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    gap: 0.5rem;
}

.btn {
    background: #15173c;
    color: white;
    border: none;
    padding: 1.5rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.1s ease-in-out;
    border-radius: 0.5rem;
    cursor: pointer;
}


/* Ids */

#pantalla {
    grid-column: 1 / 5;
    /* Esto lo que hace es que el elemto pantalla ocupe espacio desde la cuadricula 1 hasta la 5 :D*/
    background: #090c31;
    padding: 1.2rem;
    font-size: 1.5rem;
    text-align: right;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    font-family: monospace;
}

#cero{
    grid-column: 1 / 3;
    background: #e6394a;
    transition: background 0.1s ease-in-out;
}

#igual{
    grid-row: span 2;
}

/* Pseudo clases */

.btn:hover {
    background: #090c31;
}

#cero:hover{
    background: #e95362;
}